{
  "extends": "airbnb-base",
  "rules": {
    "no-console": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id"]}],
    "consistent-return": "off"// извините, но если я удалю это правило,
                              // то в самом конце блока каждой асинхронной функции придется
                              // что-то да возвращать...например return null;
                              // я могу это сделать, но код странет еще хуже...
  }
}